@page "/"
@using Application.Services
@using Domain.Models
@inject IMealService mealService;

<MyHeader></MyHeader>

<div class="main-container">

    @if(mealData != null)
    {
        <div class="orderText">
            <div class="myTextBold"> @mealData.Name</div>
            <div class="myText">For: @mealData.Type</div>
        </div>

        <div class="myRow">
            <a>
                <span @onclick="AddLike">&#129505;</span>
            </a>


            <a href="details/@mealData.Name">
                <div class="moreDetailsButton">
                    <p>Details</p>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="myText">Welcome to</div>
        <div class="myText">meal.generator</div>
    }
</div>

<button @onclick="GenerateAMeal" class="generateMealButton">
    <p>Generate Meal</p>
</button>

@code {
    private Meal? mealData { get; set; }
    private string message { get; set; } = "";

    private async Task GenerateAMeal()
    {
        var result = await mealService.GetRandomMealService();

        if (result.Flag == true)
        {
            mealData = result.meal;
        }
        message = result.message;
    }

    private async Task AddLike()
    {
        if(mealData != null)
        {
            await mealService.AddLikeToMealService(new Application.DTOs.MealDTO.AddLikeToMeal.AddLikeToMealDTO { NameOfMeal = mealData.Name! });
            mealData.Likes += 1;
        }
    }
}
