@page "/"


<div class="myCol">
    <div class="myContainer">
        <h4>Nume:</h4>
        <h4>Pentru:</h4>
        <h4>Ingrediente:</h4>

        <button class="foodButton">
            Mai multe detalii
        </button>
    </div>

    <button class="foodButton">
        Generate Meal
    </button>
</div>

@code {

}
